[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Body
LandingGear_24
LandingGear_23
LandingGear_05
LandingGear_06
LandingGear_01
LandingGear_04
LandingGear_02
LandingGear_03
F_Suspension
Tire_01
LandingGear_17
LandingGear_20
LandingGear_12
LandingGear_16
R_Suspension_02
R_Suspension_01
R_Suspension_03
LandingGear_15
Tire_03
LandingGear_13
LandingGear_14
LandingGear_07
LandingGear_11
L_Suspension_02
L_Suspension_01
L_Suspension_03
LandingGear_10
Tire_02
LandingGear_08
LandingGear_09
LandingGear_19
LandingGear_21
LandingGear_22
LandingGear_18
