[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Body
Front_Flap_01
Front_Flap_02
L_Aileron
R_Aileron
Rudder
L_Tail
R_Tail
AirBrake_16
AirBrake_13
AirBrake_15
AirBrake_14
AirBrake_12
AirBrake_11
AirBrake_10
AirBrake_09
AirBrake_08
AirBrake_05
AirBrake_07
AirBrake_06
AirBrake_04
AirBrake_03
AirBrake_02
AirBrake_01
