[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Body
AirIntake_08
AirIntake_07
AirIntake_05
AirIntake_06
AirIntake_04
AirIntake_03
AirIntake_01
AirIntake_02
AirBrake_05
AirBrake_04
AirBrake_02
AirBrake_03
AirBrake_01
R_Elevator
L_Elevator
Rudder_04
Rudder_03
Rudder_02
Rudder_01
VariableWing_02
R_Spoiler
Flap_06
Flap_04
Flap_05
Front_Flap_02
VariableWing_01
L_Spoiler
Flap_03
Flap_01
Flap_02
Front_Flap_01
Hook
