[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Body
LandingGear_01
F_Suspension_03
F_Suspension_04
F_Suspension_05
F_Suspension_01
Tire_01
F_Suspension_02
LandingGear_02
LandingGear_03
LandingGear_18
LandingGear_16
LandingGear_10
LandingGear_17
LandingGear_05
LandingGear_06
LandingGear_09
L_Suspension_03
LandingGear_08
L_Suspension_02
LandingGear_07
L_Suspension_01
Tire_02
LandingGear_11
LandingGear_12
LandingGear_15
R_Suspension_03
LandingGear_14
R_Suspension_02
LandingGear_13
R_Suspension_01
Tire_03
LandingGear_29
LandingGear_27
LandingGear_28
LandingGear_26
LandingGear_25
LandingGear_24
LandingGear_21
LandingGear_20
LandingGear_23
LandingGear_19
LandingGear_22
Launchbar
