[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Body
LandingGear_21
LandingGear_03
FrontSuspension_01
Tire_01
FrontSuspension_02
LandingGear_06
FrontSuspension_03
LandingGear_04
LandingGear_05
LandingGear_22
LandingGear_01
LandingGear_02
LandingGear_23
R_Suspension_01
R_Suspension_02
LandingGear_19
LandingGear_20
L_Suspension_01
L_Suspension_02
LandingGear_17
LandingGear_18
LandingGear_15
LandingGear_16
R_Suspension_04
R_Suspension_05
LandingGear_13
LandingGear_14
R_Suspension_06
R_Suspension_07
R_Suspension_03
LandingGear_11
LandingGear_12
LandingGear_10
LandingGear_24
Tire_03
L_Suspension_06
L_Suspension_07
L_Suspension_04
L_Suspension_05
L_Suspension_03
LandingGear_09
LandingGear_07
LandingGear_08
LandingGear_25
Tire_02
